<h3>All Pushes</h3>

<%= link_to "Start New Push", new_push_path %>

<ul>
    
  <% @pushes.each do |push| %>
    <li>
      <%= link_to %((#{push.destination}) Push ##{push.id}), push %>
    </li>  
  <% end %>

</ul>
