
<form action="/pushes" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <textarea style="width:100%;" id="id_field" type="text" name="id_field" placeholder="GUIDs (one per line)">
    <%= params[:id_field] %>
  </textarea>
  <input type="submit" value="Send To AAPB" name="">
</form>

<div id="valid-box">
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load', function() {

    // console.log('load')
    $('#id_field').on('change textInput input', function() {
    // $('#id_field').on('change', function() {
      // console.log('fired')
      
      $.post('/pushes/validate_ids', { id_field: $(this).val() }, function(resp) {
        // console.log('posted')

        var message;
        if(resp.all_valid) {
          message = "All GUIDs are valid!";
          $('#valid-box').addClass("green").removeClass("red");
        } else if(resp.error) {
          message = resp.error;
          $('#valid-box').addClass("green").removeClass("red");     
        } else {
          message = "The following IDs were not found (" + resp.missing_ids.length + "): " + resp.missing_ids;
          $('#valid-box').addClass("red").removeClass("green");
        }

        $('#valid-box').text(message);
        // console.log('texted')
      });
    });
  });
</script>
