<h3>Push #<%= @push.id %></h3>

<h5>Initiated by <%= @push.user.email %> at <%= @push.created_at.strftime('%m-%e-%y %H:%M') %></h5>

<h5>Included IDs</h5>
<% @ids = @push.pushed_id_csv.split(',') %>
<ul>
  <% @ids.each do |id| %>
    <li>
      <%= id %>
    </li>
  <% end %>  
</ul>
