<%= javascript_include_tag "sony_ci/find_media" %>
<% asset_id = f.object.model.id %>
<% if asset_id %>
  <div id="find_sony_ci_media">
    <a id="search" href="#">Find all Sony Ci files matching <strong><%= asset_id %></strong></a>
    <div id="feedback" style="display:none;"></div>
  </div>
<% end %>

<%=
  f.input 'sonyci_id', as: :sony_ci_id,
                       input_html: { class: 'form-control' },
                       wrapper_html: { class: 'multi_value' },
                       disabled: f.object.respond_to?(:disabled?) && f.object.disabled?(key),
                       required: f.object.required?(key)
%>
