<%
# This is an override of Hyrax 2.1.0 [b19e3f5] [app/views/hyrax/base/_representative_media.html.erb]
# WARNING: upgrading Hyrax may break this override.
# Gets default thumbnail from solr document instead of using default.png
%>
<% if presenter.representative_id.present? && presenter.representative_presenter.present? %>
  <% if defined?(viewer) && viewer %>
    <%= PulUvRails::UniversalViewer.script_tag %>
    <div class="viewer-wrapper">
      <div class="uv viewer" data-uri="<%= main_app.polymorphic_path [main_app, :manifest, presenter], { locale: nil } %>"></div>
    </div>
  <% else %>
    <%= media_display presenter.representative_presenter %>
  <% end %>
<% else %>
  <%= image_tag "#{presenter.solr_document.fetch('thumbnail_path_ss')}", class: "canonical-image" %>
<% end %>
