<p>Sorry, the export from AMS to AAPB failed.</p>

<p>
  Debugging info for developers:
  <br><em>NOTE: detailed error messages and stack traces can be found in the Rails log</em>
</p>

<p><strong>Date/Time:</strong> <%= Time.now %></p>

<p>
  <strong>Search params:</strong>
  <% if @search_params.present? %>
    <pre>
      <%= @search_params %>
    </pre>
  <% else %>
    <em>none</em>
  <% end %>
</p>
