<div class='table-responsive'>
  <table class='table table-condensed'>
    <thead>
      <th scope='col'>ID</th>
      <th scope='col'>AMS1 PBCore Found?</th>
      <th scope='col'>AMS2 Asset Found</th>
    </thead>
    <tbody>
      <% comparisons.each do |comparison| %>
        <tr class="batch-row">
          <td><%= comparison["id"] %></td>
          <td><%= comparison["ams1"]["pbcore_present?"] %></td>
          <td><%= comparison["ams2"]["solr_document_present?"] %></td>
      <% end %>
    </tbody>
  </table>
</div>