LOOK IT MEEE

<form action="/pb_to_aapb" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="id_field" placeholder="IDEEZ">
  <input type="submit" name="">
</form>