<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>AMS export to S3 is ready for download</h1>
    <p>
      Follow this link to download the AMS export: <a href="<%= @download_url %>"><%= @download_url %></a>
    </p>
  </body>
</html>
