<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>AMS Export Failed</h1>

<p>
  <% if data.error %>
    An export from AMS failed with the following error: <%= data.error %>
  <% else %>
    An export from AMS failed with an unknown error.
  <% end %>
</p>
</body>
</html>
