.accordion-toggle {
    color: #4E4A43;
}

.accordion-toggle:hover {
    color: #4E4A43;
}

.accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content: '❯';
    float: right;  /* align symbol to the right */
    color: grey;   /* adjust as needed */
    transition: transform 0.2s ease; /* transition for smooth rotation */
}

.accordion-toggle[aria-expanded="true"]:after {
    /* symbol for "expanded" panels */
    content: '❯';
    transform: rotate(90deg); /* rotate symbol to point down */
}
