div.facets h3 {
  font-size: 1.3em;
}

.search-form a.advanced_search {
    margin: 0 !important;
    border-left: 0;
}
.search-form .input-group-btn .scope_select {
    border-radius: 0;
}

#sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
  color: rgb(57,57,59);
}

.search-result-title a {
  color: rgb(57,57,59);
}

.metadata h4 {
  display: inline;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.metadata-col {
  margin: 5px auto;
}

.metadata .metadata-desc-col p {
  margin: 10px 0 0 10px;
}

@media screen and (max-width: 767px){
    .metadata h4 {
      margin-left: 0;
    }

    .metadata .metadata-desc-col p {
      margin: 0;
    }
}

.green {
  color: green;
}

.red {
  color: red;
}

.aapb-push-button, .catalog-export-button {
  vertical-align: middle;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
  border-radius: 4px;
  border-color: #6c757d;
  white-space: nowrap;
  min-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-widgets {
  row-gap: 8px;
}

.search-widgets button:hover {
  background-color: #6E757C;
  color: #fff;
}

#sort-dropdown button.dropdown-toggle:hover, #per_page-dropdown button.dropdown-toggle:hover {
  color: #fff;
}
