select.multiple_titles_with_types,
select.multiple_descriptions_with_types,
select.multiple_dates_with_types {
  width: 30% !important;
}

input.multiple_titles_with_types,
input.multiple_dates_with_types,
textarea.multiple_descriptions_with_types {
  width: 65% !important;
  margin-right: 5px !important;
}

select.child_contributors
{
    width: 22% !important;
}

input.child_contributors
{
    width: 22% !important;
    margin-left: 5px !important;
}
