<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>AMS Export to S3 Failed</h1>
    <p>There was an error when attempting to export AMS data to S3.</p>
    <% if @error_message %>
      <p>
        An export from AMS failed with the following error:
        <%= @error_message %>
      </p>
    <% end %>
    <p>
      Developers: Check the server's error log for additional details.
    </p>
  </body>
</html>
