<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>AMS push to AAPB succeeded</h1>
    <p>Remote ingest output:</p>
    <pre>
      <%= @remote_ingest_output %>
    </pre>
  </body>
</html>
